django-cors-headers==3.0.2
beautifulsoup4==4.7.1
dj-database-url==0.5.0
django>=2.2.4
django-bootstrap-form==3.4
django-markdown-deux==1.0.5
email-reply-parser==0.5.9
gunicorn==19.9.0
lxml==4.3.4
markdown2==2.3.8
psycopg2==2.8.2
python-decouple==3.1
pytz==2019.1
simplejson==3.16.0
six==1.12.0
soupsieve==1.9.1
sqlparse==0.3.0
whitenoise==4.1.2
