{% extends "helpdesk/public_base.html" %}
{% load i18n bootstrap %}

{% block helpdesk_body %}


{% if kb_categories %}
<h2>{% trans "Knowledgebase Articles" %}</h2>

<table class="table table-hover table-bordered table-striped">
<caption>{% trans "Knowledgebase Categories" %}</caption>
<thead>

<tr><th>{% trans "Category" %}</th></tr>
</thead>
<tbody>
{% for category in kb_categories %}
<tr><th><a href='{{ category.get_absolute_url }}'>{{ category.title }}</a></th></tr>
<tr><td>{{ category.description }}</td></tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if helpdesk_settings.HELPDESK_SUBMIT_A_TICKET_PUBLIC %}
<div class="col-xs-6">
<div class="panel panel-default">

<div class="panel-body">
    <h2 name='submit'>{% trans "Registrar Tickets" %}</h2>
<p>{% trans "Todos los campos son obligatorios" %} {% trans "Por favor proporcione un título y una descripción lo más descriptivos posible." %}</p>

<form role="form" method='post' action='./#submit' enctype='multipart/form-data'>
<fieldset>
        {{ form|bootstrap }}
        {% comment %}
        {% for field in form %}

            {% if field.is_hidden %}
                {{ field }}
            {% else %}


            <div class="form-group {% if field.errors %}has-error{% endif %}">
                <label class="control-label" for='id_{{ field.name }}'>{{ field.label }}</label>{% if not field.field.required %} <span class='form_optional'>{% trans "(Optional)" %}</span>{% endif %}</dt>
                <div class="input-group">{{ field }}</div>
                {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
                {% if field.help_text %}<span class='fhelp-block'>{{ field.help_text }}</span>{% endif %}
            </div>

        {% endif %}

        {% endfor %}
        {% endcomment %}

    <div class='buttons form-group'>
        <input type='submit' class="btn btn-primary" value='{% trans "Enviar Ticket" %}' />
    </div>
</fieldset>

{% csrf_token %}</form>
</div>
</div>
</div>
{% endif %}

{% if not helpdesk_settings.HELPDESK_VIEW_A_TICKET_PUBLIC and not helpdesk_settings.HELPDESK_SUBMIT_A_TICKET_PUBLIC %}
        <h2>{% trans "Por favor use el botón en la parte superior derecha para iniciar sesión primero." %}</h2>
{% endif %}

{% if helpdesk_settings.HELPDESK_VIEW_A_TICKET_PUBLIC %}
<div class="col-xs-6">
<div class="panel panel-default">
<div class="panel-body">
<h2>{% trans "Ver Estado del Ticket" %}</h2>

<form method='get' action="{% url 'helpdesk:public_view' %}">
<fieldset>
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label for='id_ticket'>{% trans "# Ticket" %}</label>
        <div class="input-group"><input type='text' name='ticket' placeholder="Ejemplo: 1" /></div>
    </div>
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label for='id_email'>{% trans "Tu Correo Electronico" %}</label>
        <div class="input-group"><input type='text' name='email' placeholder="Ejemplo: xa@gmail.com"/></div>
    </div>
    <div class='buttons form-group'>
    <input type='submit' class="btn btn-primary"  value='{% trans "Consultar Ticket" %}' />
    </div>
</fieldset>
{% csrf_token %}</form>
</div></div></div>
{% endif %}

<script>
                $( function() {
            $( "#id_due_date" ).datepicker({dateFormat: 'yy-mm-dd'});
                } );
</script>

{% endblock %}
